@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
body {
    margin:0;
    width:100%;
    font-family: 'Lato', sans-serif;
    font-size:16px;
    background:#fff;
}
a {
    color:#2c5aa0;
}
header {
    background: #3771c8;
    background: -moz-linear-gradient(top, #3771c8 0%, #2c5aa0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3771c8), color-stop(100%, #2c5aa0));
    background: -webkit-linear-gradient(top, #3771c8 0%, #2c5aa0 100%);
    background: -o-linear-gradient(top, #3771c8 0%, #2c5aa0 100%);
    background: -ms-linear-gradient(top, #3771c8 0%, #2c5aa0 100%);
    background: linear-gradient(top, #3771c8 0%, #2c5aa0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@top-color', endColorstr='@bottom-color', GradientType=0);
    padding: 0px 5px ;
    border-top: 1px solid #889;
    border-bottom: 1px solid #2c5aa0;
    text-align: center;
    color:#fff;
}
#contenedor {
    width:980px;
    margin:0 auto;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.4);
    box-shadow: 0 1px 3px rgba(0,0,0,.4);
    background: #ffffff;  
}
#inscribir {
    background: #fff;  
    padding-top: 15px;
    width: 480px;
    float: right;
}
#consultar {
    background: #fff;  
    padding-top: 15px;
    width: 480px;
    float: left;
}
.widget {
    background-color: #fff;   
    margin: 0 0 15px;
    border: 1px #2c5aa0 solid;
}
.widgettitulo {
    background: #C4C4C4;
    background: -moz-linear-gradient(top, #C4C4C4 0%, #A4A4A4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #C4C4C4), color-stop(100%, #A4A4A4));
    background: -webkit-linear-gradient(top, #C4C4C4 0%, #A4A4A4 100%);
    background: -o-linear-gradient(top, #C4C4C4 0%, #A4A4A4 100%);
    background: -ms-linear-gradient(top, #C4C4C4 0%, #A4A4A4 100%);
    background: linear-gradient(top, #C4C4C4 0%, #A4A4A4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@top-color', endColorstr='@bottom-color', GradientType=0);
    text-align: center;
    color:#222;
    margin: 0 0 5px;
    padding: 6px 0;
}
footer {
    background: #3771c8;
    background: -moz-linear-gradient(top, #3771c8 0%, #2c5aa0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3771c8), color-stop(100%, #2c5aa0));
    background: -webkit-linear-gradient(top, #3771c8 0%, #2c5aa0 100%);
    background: -o-linear-gradient(top, #3771c8 0%, #2c5aa0 100%);
    background: -ms-linear-gradient(top, #3771c8 0%, #2c5aa0 100%);
    background: linear-gradient(top, #3771c8 0%, #2c5aa0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@top-color', endColorstr='@bottom-color', GradientType=0);
    text-align:center;
    color:#fff;
    padding:1px;
    clear: both;
}
footer a {
    color:#f5f5f5;
}
#respuesta {
    text-align:center;
}
/* version computador/portatil */
@media screen and (max-width: 1336px) {

    #contenedor {
        width: 96%;
    }
    #inscribir {
        width: 48%;
    }
    #consultar {
        width: 48%;
    }
    #consultar .widget, #inscribir .widget  {
        padding: 8% 7%;
    }    

}
/* version tablet/smartphone */  
@media screen and (max-width: 800px) {

    #inscribir {
        width: auto;
        float: none;
        margin: 20px 0;
    }
    #consultar {
        width: 100%;
        margin: 0;
        float: none;
    }
    #consultar .widget {
        padding: 3% 4%;
        margin: 0 0 10px;
    }
    .widget {border: none;}
}
/*alertas*/
span { background: #222; color:#fff;font-weight:bold;padding:4px}

/*datagrid*/
.datagrid table { border-collapse: collapse; text-align: left; width: 100%; } .datagrid {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; border: 1px solid #006699; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }.datagrid table td, .datagrid table th { padding: 11px 1px; }.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; color:#FFFFFF; font-size: 15px; font-weight: bold; border-left: 1px solid #0070A8; } .datagrid table thead th:first-child { border: none; }.datagrid table tbody td { color: #00557F; border-left: 1px solid #E1EEF4;font-size: 12px;font-weight: normal; }.datagrid table tbody .alt td { background: #E1EEf4; color: #00557F; }.datagrid table tbody td:first-child { border-left: none; }.datagrid table tbody tr:last-child td { border-bottom: none; }.datagrid table tfoot td div { border-top: 1px solid #006699;background: #E1EEf4;} .datagrid table tfoot td { padding: 0; font-size: 12px } .datagrid table tfoot td div{ padding: 2px; }.datagrid table tfoot td ul { margin: 0; padding:0; list-style: none; text-align: right; }.datagrid table tfoot  li { display: inline; }.datagrid table tfoot li a { text-decoration: none; display: inline-block;  padding: 2px 8px; margin: 1px;color: #FFFFFF;border: 1px solid #006699;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; }.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { text-decoration: none;border-color: #00557F; color: #FFFFFF; background: none; background-color:#006699;}

/*formulario*/
button { cursor:pointer;margin:0 auto;width:50%;height:30px;display: block;background: #3771c8;border:1px solid #3771c8;color:#fff; font-weight: bold; font-size: 1em;}
input { margin:0 auto;width:80%; display: block; border-style: solid; border-width: 1px; border-color: #dedede; margin-bottom: 20px; font-size: 1.2em; color: #777; height:30px; padding-left:15%; font-family: "Raleway", sans-serif; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset; transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;}
input:focus { width:80%; display: block; border-style: solid; border-width: 1px; border-color: #dedede; margin-bottom: 20px; font-size: 1.2em; color: #777; height:30px; padding-left:15%; font-family: "Raleway", sans-serif; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset; transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s; color: #333; border-color: rgba(41, 92, 161, 0.4); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 3px rgba(41, 92, 161, 0.6); outline: 0 none; }
input#nombre { background: #fff url('user.png') 5px 4px no-repeat;}
input#fecha { background: #fff url('calendar.png') 5px 4px no-repeat;}
input#cedula { background: #fff url('cedula.png') 5px 4px no-repeat;}
input#cargo { background: #fff url('cargo.png') 5px 4px no-repeat;} 